.input--material {
  width: 100%;
  font-size: 5.8rem;
  font-weight: 400;
  padding: 0 0 0.5rem 0.5rem;
  &.icon {
    padding-right: 7rem;
  }
  padding-right: 0;
  &.mini {
    font-size: 1rem;
  }

  &-holder {
    position: relative;
    width: 100%;
  }

  &,
  &:focus {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid black;
  }

  &-icon {
    position: absolute;
    right: 0;
    bottom: 50%;
    cursor: pointer;
    transform: translateY(50%);
  }
}
