@import "react-redux-toastr/src/styles/index";
@import "react-datetime/css/react-datetime";

@import "./vendor-extension/_semantic-ui-extension";

@import "./abstracts/_variables";
@import "./abstracts/_fonts";

@import "./utils/_spacing";
@import "./utils/_common";
@import "./utils/_float";
@import "./utils/_sizing";
@import "./utils/_opacity";
@import "./utils/_textColor";

@import "./components/_materialInput";
@import "./components/contentStore/store.scss";

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.UserAvatar--img {
  display: inline-block !important;
}

.an-dr-menu:hover {
  background: skyblue;
}

.anc-desc {
  overflow-wrap: break-word;
}

.anc-img-container {
  position: relative;
  width: 50%;
}

.anc-img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.anc-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 45%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.anc-img-container:hover .anc-img-overlay {
  opacity: 1;
}

.anc-img-h-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.ui.feed > .event > .label img {
  height: 35px;
  width: 35px;
}

.ui.feed > .event > .make-ancc-ad img {
  height: 55px;
  width: 55px;
}

.ui.feed > .event > .create-ancc-ad img {
  height: 55px;
  width: 55px;
}

.ui.button {
  font-weight: $fontWeightMedium;
}

.ui.primary.button,
.ui.primary.buttons {
  background-color: $primary-color;
}

.ui.loader {
  z-index: 600 !important;
}

.label-text {
  color: #979797;
  margin-right: 0.5em;
}

.cp-ta-center {
  text-align: center;
}
.cp-heading-name{
  line-height: 37px;
}
.cp-heading {
  font-size: 2em;
  font-weight: $fontWeightMedium;
  margin: 0.5em 0;
  &--secondary {
    font-size: $fontSize1;
    font-weight: $fontWeightMedium;
  }

  &--6 {
    font-size: $fontSize6;
    font-weight: $fontWeightMedium;
  }

  &--5 {
    font-size: $fontSize5;
    font-weight: $fontWeightMedium;
  }

  &--4 {
    font-size: $fontSize4;
    font-weight: $fontWeightMedium;
  }

  &--3 {
    font-size: $fontSize3;
    font-weight: $fontWeightMedium;
  }
}

.cp-stats-heading {
  font-weight: $fontWeightMedium;
  font-size: 2.5em;
  margin: 0;
  line-height: 1.2;
}

.cp-stats-description {
  color: #4a4a4a;
  font-weight: 600;
  opacity: 0.75;
  display: block;
  margin: 0;
  text-align: center;
}

.cp-settings-header {
  font-size: 1.1em;
  font-weight: 800;
  padding-bottom: 0.4em;
}

.cp-no-top-bottom-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.cp-settings-description {
  font-size: 0.9em;
  opacity: 0.8;
  color: #888a8d;
}

.profile-section-label {
  letter-spacing: 0.3ch;
  font-size: 1.1em;
  font-weight: $fontWeightMedium;
}

.st-profile-heading {
  font-size: 1.5rem;
  font-weight: $fontWeightMedium;
}

// show label value stat for attendence in student profile section
.att-stat {
  text-align: center;
  font-size: 1.3rem;
}

.att-stat-label {
  width: 70%;
  background-color: $primary-color;
  display: inline-block;
  color: white;
  padding: 0.5rem;
}

.att-stat-value {
  width: 30%;
  background-color: $secondary-color;
  display: inline-block;
  padding: 0.5rem;
  color: #777777;
}

// stepper used in coins screen
.stepper {
  border-left: 3px solid #e8e8e8;
  padding-left: 1rem !important;
}

.step::before {
  content: "";
  position: absolute;
  top: 1.1rem;
  left: -1.65rem;
  height: 1.2rem;
  width: 1.2rem;
  border: 2px solid $primary-color;
  background-color: white;
  border-radius: 1rem;
  z-index: 2;
}

.step:first-child::before {
  top: 0;
}

// styles for coins instruction

.cp-coins-value {
  font-size: 1.4rem;
  font-weight: $fontWeightMedium;
}

.cp-coins-label {
  font-size: 0.9rem;
  font-weight: $fontWeightMedium;
}

.coins-intr-section {
  position: fixed !important;
  width: 37.5% !important;
}

.profile-thumbnail .sb-avatar img {
  margin-bottom: -0.9rem;
}

.cp_event .rdtPicker {
  width: inherit !important;
}

.linkify-chat--right a {
  color: white;
  text-decoration: underline;
}
.greyBorder {
  border-bottom: 1px solid #D9D9D9;
}
